body {
    background-color: black;
}

header {
    padding: 156px 0 100px;
    background-color: black;
    border-top: 1px solid white;
}

nav {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 72, 173, 1) 2%, rgba(0, 0, 0, 1) 100%);
}

section {
    padding: 150px 0;
}

footer {
    border-top: 1px solid white;
    padding: 156px 0 100px;
    color: white;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 20%, rgba(0, 72, 173, 1) 200%);
}

.ipAddress {
    max-width: 30%;
}

.materia {
    border: 0;
    background-color: black;
    color: white;
    border-bottom: 1px solid white;
    outline: none;
    width: 10%;
}

#inputContainer {
    border-top: 1px solid white;
    padding: 156px 0 100px;
    margin-top: 3%;
    margin-bottom: 0.1;
}

#generate:hover {
    background: rgba(60, 60, 60, );
    background: linear-gradient(180deg, rgb(60, 60, 60) 27%, rgb(60, 60, 60)0%);
}

@media (max-width:1020px) {
    .materia {
        font-size: 80%;
        width: 80%;
    }
    #ipTag {
        font-size: 70%;
        margin: 0%;
        padding: 0%;
    }
    #inputCant{
        font-size: 70%;
        margin: 0%;
        padding: 0%;
    }
    #inputContainer {
        display: flex;
    }
}