:root{
    --color1: rgba(0,0,0,0.2);;
    --color2: rgba(0,0,0,0.8);
}


header {
    padding: 156px 0 100px;
    background: rgb(5,16,54);
background: linear-gradient(68deg, rgba(5,16,54,1) 3%, rgba(34,72,195,1) 35%, rgba(72,45,253,1) 49%, rgba(156,89,242,1) 86%);
  }
  
  section {
    padding: 150px 0;
  }

  nav{
      background-color: var(--color1);
      width: 100%;
  }

  footer{
    padding: 156px 0 100px;
    background: rgb(0,0,0);
background: linear-gradient(68deg, rgba(5,16,54,1) 3%, rgba(34,72,195,1) 35%, rgba(72,45,253,1) 49%, rgba(156,89,242,1) 86%);
  }

  #inputContainer{
      margin-top: 3%;
      margin-bottom: 0.1;
  }

  #create{
      margin-top: none;
  }

  #colorContainer{
      display: flex;
      padding: 0px;
  }

  #materia{
    border: 0;  
    border-bottom: 1px solid #09f;
    outline: none;
    width: 50%;
  }

  #saveButton{
      border-radius: 30px;
      outline: none;
      width: 80%;
      margin: 10%;
      color: white;
      border-color: none;
      border: none;
      
  }

  #saveButton:hover{
    background: rgb(5,16,54);
background: linear-gradient(68deg, rgba(5,16,54,1) 3%, rgba(34,72,195,1) 35%, rgba(72,45,253,1) 49%, rgba(156,89,242,1) 86%);
  }

  #saveButton:active{
    background: rgb(5,16,54);
background: linear-gradient(68deg, rgba(5,16,54,1) 3%, rgba(34,72,195,1) 35%, rgba(72,45,253,1) 49%, rgba(156,89,242,1) 86%);
  }

  #resetButton{
      width: 80%;
      margin: 10%;
      border-radius: 30px;
      outline: none;
      color: white;
  }

  #resetButton:hover{
    background: rgb(190,13,13);
background: linear-gradient(263deg, rgba(190,13,13,1) 6%, rgba(245,95,95,1) 38%, rgba(204,33,33,1) 94%);
  }


  @media (max-width:575px){
   #saveButton{
     margin-top: 2%;
     margin-bottom: 0px;
   }
   #resetButton{
    margin-top: 1%;
  }
  }