<!--content-->

<div id="create" class="container align-items-start mt-5">
    <!--Input-->
    <div class="container" id="inputContainer ">
        <div class="card-group">
            <div class="card border-0" id="colorContainer">
                <div class="card-group border-0">
                    <div class="card border-0 d-flex flex-row justify-content-center align-items-center m-0 p-0">
                        <input type="color" name="colorChooser" id="colorChooser">
                        <p class="lead mt-3 ml-5">Selecciona un color</p>
                        <input id="materia" type="text" class="lead ml-5 ml-5" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-sm" placeholder="Añade un título">
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--Tabla-->
    <div class="card-group d-flex align-items-start">
        <div class="card border-0 d-flex align-items-start mt-0">
            <div class="container table-responsive-sm">
                <table class="table-responsive-sm">
                    <div class="table-responsive-sm">
                        <table   id="schedule" class="table table-responsive align-middle table-bordered ">
                            <thead class="">
                                <tr class="bg-secondary border-secondary text-light text-center lead">
                                    <td>Hora</td>
                                    <td>Lunes</td>
                                    <td>Martes</td>
                                    <td>Miercoles</td>
                                    <td>Jueves</td>
                                    <td>Viernes</td>
                                    <td>Sábado</td>
                                    <td>Domingo</td>
                                </tr>
                            </thead>
                            <tbody class="border-dark">
                                <tr>
                                    <th>6-7am</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>7-8am</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>8-9am</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>9-10am</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>10-11am</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>11-12am</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>12-1pm</th>
                                    <td id="mon-12-1"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>1-2pm</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>2-3pm</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>3-4pm</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>4-5pm</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>5-6pm</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>6-7pm</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>7-9pm</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </table>
            </div>
        </div>
        <div class="card border-0"></div>
        <div class="card border-0"></div>
    </div>