<!--Footer-->
<footer class="py-5" id="contact">
    <div class="container">
        <p class="m-0 text-center text-white lead">Made by Jair Barcasnegras</p>
        <p class="m-0 text-center text-white active lead">TeamMaker &trade; <a style="text-decoration:none;color:white;" href="https://www.github.com/theblackbar">github.com/theblackbar</a> 2020</p>
    </div>
    <!-- /.container -->
</footer>