<!--Meta tags-->
<meta name="Title" content="Subnetting">
<meta name="Description" content="Crea subredes con solo un click a través del método de subneteo o subnetting">
<meta name="Author" content="Jair Barcasnegras theblackbar">
<meta name="Subject" content="redes ingenieria informatica subneteo subnetting">
<meta name="language" content="Spanish">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--Boostrap 5 CND-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
<title><%= title %></title>

<!--Custom Css-->
<link href="../public/css/main.css" rel="stylesheet">

<!--Favicon-->
