
    <!--Header-->
    <header class="text-white" id="about">
        <div class="container text-center">

            <p class="display-4">¡Haz que tu horario luzca mejor!</p>
            <p class="lead">Un generador de horarios simple y fresco. Estriliza tu horario y mejora tu eficiencia. </p>
        </div>
    </header>