<!---Modal-->
<div class="modal" id="instructiveModal" tabindex="-1">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">¡Bienvenido a <strong class="text-primary">Schedule+</strong> !</h5>
                <button type="button" class="close text-light data-dismiss=" modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <p class="leads">Puedes ingresar un título y escoger color para modificar el horario a tu manera</p>
                <p class="leads">Usa doble click para limpiar un campo</p>
                <p class="leads">Usa el botón <strong>Guardar</strong> para capturar tu horario en una imagen</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>