<!---Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <h1 style="margin-bottom: 0px; padding-bottom:0px;">Subnetting</h1>
            <p class="lead text-center" style="font-size: smaller;padding:0px;margin: 0px;">Online</p>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" id="responsiveButton"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a onclick="" class="nav-link js-scroll-trigger" href="#about">
                        <h5 class="lead">Información</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#generador">
                        <h5 class="lead">Generador</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">
                        <h5 class="lead">Contacto</h5>
                    </a>
                </li>
            </ul>
            <hr>
        </div>
        <hr>
    </div>
</nav>