<div id="prueba1" class="text-center invisible">
    <h1 class="display-1">Te amo mucho mi gordin!</h1>
    <img  class="img-fluid rounded" src="../public/images/migordin.jpg" alt="Te amo mucho mi gordin">
</div>