 <!--Rule MOdal-->>
 <div class="modal"  tabindex="-1" id="ruleModal">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">¡Reglas de <strong class="text-primary">Schedule+</strong> !</h5>
                <button type="button" class="close text-light data-dismiss modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>- No uses más de un espacio</p>
                <p>- Selecciona un <strong>color</strong> para el  <strong>título</strong> en tu horario</p>
                <p>- No dejes el campo de título vacío</p>
                <p>- Puedes cambiar el color y el título en cualquier momento</p>
                <p>- Usa doble click para limpiar un campo</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>