<!--Save-->
<div class="card-group mb-5">
    <div class="card border-0"></div>

    <div class="card border-0 border-rounded-pill">
        <button id="saveButton" type="button"
            class="btn lead bg-primary btn-lg">Guardar
        </button>
    </div>
    

    <div class="card border-0 border-rounded-pill">
        <button id="resetButton" type="button"
            class="btn lead bg-danger btn-lg">Limpiar 
        </button>
    </div>
    
    <div class="card border-0 "></div>

</div>
</div>